<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<% @recipes.each do |recipe| %>
					<tr>
						
						<td><%= link_to recipe.title, recipe, class: "recipe_#{recipe.id}" %></td>
						
					</tr>
					<p><span>名前: </span><%=link_to recipe.user.user_name, user_path(recipe.user.id) %></p>
					<p><span>ジャンル: </span><%=link_to recipe.category.name, categories_path(recipe.category.id) %></p>
	
<% end %>
