
<h1>User info</h1>
<table class="table">
	
	   <tr>
	  	  <th>名前</th>
      </tr>
      <tr>
        <th>
        <%= user.user_name %>
        </th>
	    </tr>
	<tr>
		<th>introduction</th>
  </tr>
  <tr>
	  	<th><%= user.introduction %></th>
	</tr>

  <tr>
	  	<th><%= image_tag attachment_url(user, :profile_image, :fill, 50, 50, format: "jpg", fallback: "japan.jpg") %></th>
	</tr>

</table>
<%= link_to "自分の情報の編集", edit_user_path(user.id) %>
