<h1>Usersshow</h1>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render "users/sidebar",user: @user %>
        </div>
		<div class="col-xs-9">

<% @recipes.each do |recipe| %>
  <hr>
  <span>料理名: </span><%=link_to recipe.title, recipe_path %>
	<span>ジャンル: </span><%=link_to recipe.category.name, categories_path %>
	
<% end %>

<p><%= link_to "新作レシピ投稿", new_recipe_path %></p>
</div>
</div>
</div>
